<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.theyos.picoclaw</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/theyos-picoclaw</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/var/log/theyos/picoclaw.log</string>
  <key>StandardErrorPath</key><string>/var/log/theyos/picoclaw.err</string>
</dict>
</plist>
